div.form-item.form-type-ts-radios.form-item-settings-server-id {
  overflow-y: scroll;
  height: 300px;
  border: 1px solid silver;
  padding: 4px;
  background-color: #dadada;
}

div.form-item.form-type-radio.form-item-settings-server-id {
  border-bottom: 1px solid #fff;
}

div.ts-property-label {
  font-weight: bold;
}

div.ts-property-value p,
div.ts-property-value div
{
  margin: 4px 0;
}
